/* 
 * Color palette variables 
 * (feel free to import them from a separate _variables.scss if you like)
 */
$color1: #ff8200;
$color2: #58a8fb;
$color3: #1d1b28;
$color4: #3253ef;
$color5: #efad4e;

/* Global styles */
:root {
  scroll-behavior: smooth;
}

p {
  font-family: "Archivo Black", serif;
}

.marquee-fullscreen {
  margin-top: -50px;
  position: absolute;
  z-index: 999;
}

/* Fixed header styles */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-height: 52px;
  }
  .band-logo {
    width: 100px;
    height: auto;
    float: left;
    cursor: pointer;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Archivo Black", serif;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: $color1;
    }
  }
}

.band-logo-lg {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* SOCIAL MEDIA ICONS */
.social-icons {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  padding: 0.5em;
  border-radius: 10px;
  background: #00000033;
  a {
    display: block;
    line-height: 0;
    &:hover {
      filter: brightness(20%);
    }
    img {
      width: 30px;
      height: 30px;
      filter: invert(100%);
    }
  }
}

@media (min-width: 500px) {
  .section-header {
    background-attachment: fixed;
  }
}

.section-header {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 7em;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
/* Apply dimming filter to music-header background */
.music-header {
  background-image: url("/assets/images/music-bg.jpg");
  position: relative; /* Needed for pseudo-element positioning */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  /* Ensure content is above the overlay */
  > * {
    position: relative;
    z-index: 2;
  }
}
.albums-header {
  background-image: url("/assets/images/live-bg-3.jpeg");
  position: relative; /* Needed for pseudo-element positioning */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Ensure content is above the overlay */
  > * {
    position: relative;
    z-index: 2;
  }
}

.live-header {
  background-image: url("/assets/images/live-bg-2.jpg");
}
.merch-header {
  background-image: url("/assets/images/merch-bg-2.jpg");
}
.about-header {
  background-image: url("/assets/images/about-bg.jpg");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  /* Ensure content is above the overlay */
  > * {
    position: relative;
    z-index: 2;
  }
}
.contact-header {
  background-image: url("/assets/images/contact-bg.jpg");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  /* Ensure content is above the overlay */
  > * {
    position: relative;
    z-index: 2;
  }
}

/* Color block for section content */
.color-block {
  padding: 2rem;
}

/* Assign each color block to a color from the palette */
.color1 {
  background-color: $color1;
  background: #ff8200
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3Ccircle cx='9' cy='3' r='1'/%3E%3Ccircle cx='15' cy='3' r='1'/%3E%3Ccircle cx='21' cy='3' r='1'/%3E%3Ccircle cx='27' cy='3' r='1'/%3E%3Ccircle cx='33' cy='3' r='1'/%3E%3Ccircle cx='39' cy='3' r='1'/%3E%3Ccircle cx='45' cy='3' r='1'/%3E%3Ccircle cx='51' cy='3' r='1'/%3E%3Ccircle cx='57' cy='3' r='1'/%3E%3Ccircle cx='3' cy='9' r='1'/%3E%3Ccircle cx='9' cy='9' r='1'/%3E%3Ccircle cx='15' cy='9' r='1'/%3E%3Ccircle cx='21' cy='9' r='1'/%3E%3Ccircle cx='27' cy='9' r='1'/%3E%3Ccircle cx='33' cy='9' r='1'/%3E%3Ccircle cx='39' cy='9' r='1'/%3E%3Ccircle cx='45' cy='9' r='1'/%3E%3Ccircle cx='51' cy='9' r='1'/%3E%3Ccircle cx='57' cy='9' r='1'/%3E%3Ccircle cx='3' cy='15' r='1'/%3E%3Ccircle cx='9' cy='15' r='1'/%3E%3Ccircle cx='15' cy='15' r='1'/%3E%3Ccircle cx='21' cy='15' r='1'/%3E%3Ccircle cx='27' cy='15' r='1'/%3E%3Ccircle cx='33' cy='15' r='1'/%3E%3Ccircle cx='39' cy='15' r='1'/%3E%3Ccircle cx='45' cy='15' r='1'/%3E%3Ccircle cx='51' cy='15' r='1'/%3E%3Ccircle cx='57' cy='15' r='1'/%3E%3Ccircle cx='3' cy='21' r='1'/%3E%3Ccircle cx='9' cy='21' r='1'/%3E%3Ccircle cx='15' cy='21' r='1'/%3E%3Ccircle cx='21' cy='21' r='1'/%3E%3Ccircle cx='27' cy='21' r='1'/%3E%3Ccircle cx='33' cy='21' r='1'/%3E%3Ccircle cx='39' cy='21' r='1'/%3E%3Ccircle cx='45' cy='21' r='1'/%3E%3Ccircle cx='51' cy='21' r='1'/%3E%3Ccircle cx='57' cy='21' r='1'/%3E%3Ccircle cx='3' cy='27' r='1'/%3E%3Ccircle cx='9' cy='27' r='1'/%3E%3Ccircle cx='15' cy='27' r='1'/%3E%3Ccircle cx='21' cy='27' r='1'/%3E%3Ccircle cx='27' cy='27' r='1'/%3E%3Ccircle cx='33' cy='27' r='1'/%3E%3Ccircle cx='39' cy='27' r='1'/%3E%3Ccircle cx='45' cy='27' r='1'/%3E%3Ccircle cx='51' cy='27' r='1'/%3E%3Ccircle cx='57' cy='27' r='1'/%3E%3Ccircle cx='3' cy='33' r='1'/%3E%3Ccircle cx='9' cy='33' r='1'/%3E%3Ccircle cx='15' cy='33' r='1'/%3E%3Ccircle cx='21' cy='33' r='1'/%3E%3Ccircle cx='27' cy='33' r='1'/%3E%3Ccircle cx='33' cy='33' r='1'/%3E%3Ccircle cx='39' cy='33' r='1'/%3E%3Ccircle cx='45' cy='33' r='1'/%3E%3Ccircle cx='51' cy='33' r='1'/%3E%3Ccircle cx='57' cy='33' r='1'/%3E%3Ccircle cx='3' cy='39' r='1'/%3E%3Ccircle cx='9' cy='39' r='1'/%3E%3Ccircle cx='15' cy='39' r='1'/%3E%3Ccircle cx='21' cy='39' r='1'/%3E%3Ccircle cx='27' cy='39' r='1'/%3E%3Ccircle cx='33' cy='39' r='1'/%3E%3Ccircle cx='39' cy='39' r='1'/%3E%3Ccircle cx='45' cy='39' r='1'/%3E%3Ccircle cx='51' cy='39' r='1'/%3E%3Ccircle cx='57' cy='39' r='1'/%3E%3Ccircle cx='3' cy='45' r='1'/%3E%3Ccircle cx='9' cy='45' r='1'/%3E%3Ccircle cx='15' cy='45' r='1'/%3E%3Ccircle cx='21' cy='45' r='1'/%3E%3Ccircle cx='27' cy='45' r='1'/%3E%3Ccircle cx='33' cy='45' r='1'/%3E%3Ccircle cx='39' cy='45' r='1'/%3E%3Ccircle cx='45' cy='45' r='1'/%3E%3Ccircle cx='51' cy='45' r='1'/%3E%3Ccircle cx='57' cy='45' r='1'/%3E%3Ccircle cx='3' cy='51' r='1'/%3E%3Ccircle cx='9' cy='51' r='1'/%3E%3Ccircle cx='15' cy='51' r='1'/%3E%3Ccircle cx='21' cy='51' r='1'/%3E%3Ccircle cx='27' cy='51' r='1'/%3E%3Ccircle cx='33' cy='51' r='1'/%3E%3Ccircle cx='39' cy='51' r='1'/%3E%3Ccircle cx='45' cy='51' r='1'/%3E%3Ccircle cx='51' cy='51' r='1'/%3E%3Ccircle cx='57' cy='51' r='1'/%3E%3Ccircle cx='3' cy='57' r='1'/%3E%3Ccircle cx='9' cy='57' r='1'/%3E%3Ccircle cx='15' cy='57' r='1'/%3E%3Ccircle cx='21' cy='57' r='1'/%3E%3Ccircle cx='27' cy='57' r='1'/%3E%3Ccircle cx='33' cy='57' r='1'/%3E%3Ccircle cx='39' cy='57' r='1'/%3E%3Ccircle cx='45' cy='57' r='1'/%3E%3Ccircle cx='51' cy='57' r='1'/%3E%3Ccircle cx='57' cy='57' r='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.color2 {
  background-color: $color2;
  background: #58a8fb
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpolygon points='0 0 0 4 4 0'/%3E%3Cpolygon points='6 0 6 4 10 0'/%3E%3Cpolygon points='12 0 12 4 16 0'/%3E%3Cpolygon points='18 0 18 4 22 0'/%3E%3Cpolygon points='24 0 24 4 28 0'/%3E%3Cpolygon points='30 0 30 4 34 0'/%3E%3Cpolygon points='36 0 36 4 40 0'/%3E%3Cpolygon points='42 0 42 4 46 0'/%3E%3Cpolygon points='48 0 48 4 52 0'/%3E%3Cpolygon points='54 0 54 4 58 0'/%3E%3Cpolygon points='0 6 0 10 4 6'/%3E%3Cpolygon points='6 6 6 10 10 6'/%3E%3Cpolygon points='12 6 12 10 16 6'/%3E%3Cpolygon points='18 6 18 10 22 6'/%3E%3Cpolygon points='24 6 24 10 28 6'/%3E%3Cpolygon points='30 6 30 10 34 6'/%3E%3Cpolygon points='36 6 36 10 40 6'/%3E%3Cpolygon points='42 6 42 10 46 6'/%3E%3Cpolygon points='48 6 48 10 52 6'/%3E%3Cpolygon points='54 6 54 10 58 6'/%3E%3Cpolygon points='0 12 0 16 4 12'/%3E%3Cpolygon points='6 12 6 16 10 12'/%3E%3Cpolygon points='12 12 12 16 16 12'/%3E%3Cpolygon points='18 12 18 16 22 12'/%3E%3Cpolygon points='24 12 24 16 28 12'/%3E%3Cpolygon points='30 12 30 16 34 12'/%3E%3Cpolygon points='36 12 36 16 40 12'/%3E%3Cpolygon points='42 12 42 16 46 12'/%3E%3Cpolygon points='48 12 48 16 52 12'/%3E%3Cpolygon points='54 12 54 16 58 12'/%3E%3Cpolygon points='0 18 0 22 4 18'/%3E%3Cpolygon points='6 18 6 22 10 18'/%3E%3Cpolygon points='12 18 12 22 16 18'/%3E%3Cpolygon points='18 18 18 22 22 18'/%3E%3Cpolygon points='24 18 24 22 28 18'/%3E%3Cpolygon points='30 18 30 22 34 18'/%3E%3Cpolygon points='36 18 36 22 40 18'/%3E%3Cpolygon points='42 18 42 22 46 18'/%3E%3Cpolygon points='48 18 48 22 52 18'/%3E%3Cpolygon points='54 18 54 22 58 18'/%3E%3Cpolygon points='0 24 0 28 4 24'/%3E%3Cpolygon points='6 24 6 28 10 24'/%3E%3Cpolygon points='12 24 12 28 16 24'/%3E%3Cpolygon points='18 24 18 28 22 24'/%3E%3Cpolygon points='24 24 24 28 28 24'/%3E%3Cpolygon points='30 24 30 28 34 24'/%3E%3Cpolygon points='36 24 36 28 40 24'/%3E%3Cpolygon points='42 24 42 28 46 24'/%3E%3Cpolygon points='48 24 48 28 52 24'/%3E%3Cpolygon points='54 24 54 28 58 24'/%3E%3Cpolygon points='0 30 0 34 4 30'/%3E%3Cpolygon points='6 30 6 34 10 30'/%3E%3Cpolygon points='12 30 12 34 16 30'/%3E%3Cpolygon points='18 30 18 34 22 30'/%3E%3Cpolygon points='24 30 24 34 28 30'/%3E%3Cpolygon points='30 30 30 34 34 30'/%3E%3Cpolygon points='36 30 36 34 40 30'/%3E%3Cpolygon points='42 30 42 34 46 30'/%3E%3Cpolygon points='48 30 48 34 52 30'/%3E%3Cpolygon points='54 30 54 34 58 30'/%3E%3Cpolygon points='0 36 0 40 4 36'/%3E%3Cpolygon points='6 36 6 40 10 36'/%3E%3Cpolygon points='12 36 12 40 16 36'/%3E%3Cpolygon points='18 36 18 40 22 36'/%3E%3Cpolygon points='24 36 24 40 28 36'/%3E%3Cpolygon points='30 36 30 40 34 36'/%3E%3Cpolygon points='36 36 36 40 40 36'/%3E%3Cpolygon points='42 36 42 40 46 36'/%3E%3Cpolygon points='48 36 48 40 52 36'/%3E%3Cpolygon points='54 36 54 40 58 36'/%3E%3Cpolygon points='0 42 0 46 4 42'/%3E%3Cpolygon points='6 42 6 46 10 42'/%3E%3Cpolygon points='12 42 12 46 16 42'/%3E%3Cpolygon points='18 42 18 46 22 42'/%3E%3Cpolygon points='24 42 24 46 28 42'/%3E%3Cpolygon points='30 42 30 46 34 42'/%3E%3Cpolygon points='36 42 36 46 40 42'/%3E%3Cpolygon points='42 42 42 46 46 42'/%3E%3Cpolygon points='48 42 48 46 52 42'/%3E%3Cpolygon points='54 42 54 46 58 42'/%3E%3Cpolygon points='0 48 0 52 4 48'/%3E%3Cpolygon points='6 48 6 52 10 48'/%3E%3Cpolygon points='12 48 12 52 16 48'/%3E%3Cpolygon points='18 48 18 52 22 48'/%3E%3Cpolygon points='24 48 24 52 28 48'/%3E%3Cpolygon points='30 48 30 52 34 48'/%3E%3Cpolygon points='36 48 36 52 40 48'/%3E%3Cpolygon points='42 48 42 52 46 48'/%3E%3Cpolygon points='48 48 48 52 52 48'/%3E%3Cpolygon points='54 48 54 52 58 48'/%3E%3Cpolygon points='0 54 0 58 4 54'/%3E%3Cpolygon points='6 54 6 58 10 54'/%3E%3Cpolygon points='12 54 12 58 16 54'/%3E%3Cpolygon points='18 54 18 58 22 54'/%3E%3Cpolygon points='24 54 24 58 28 54'/%3E%3Cpolygon points='30 54 30 58 34 54'/%3E%3Cpolygon points='36 54 36 58 40 54'/%3E%3Cpolygon points='42 54 42 58 46 54'/%3E%3Cpolygon points='48 54 48 58 52 54'/%3E%3Cpolygon points='54 54 54 58 58 54'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.color3 {
  background-color: $color3;
  background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.color4 {
  background-color: $color4;
  background: #3253ef
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 0l6 6v6H0V0zM12 0l6 6v6H12V0zM24 0l6 6v6H24V0zM36 0l6 6v6H36V0zM48 0l6 6v6H48V0zM0 12l6 6v6H0V12zM12 12l6 6v6H12V12zM24 12l6 6v6H24V12zM36 12l6 6v6H36V12zM48 12l6 6v6H48V12zM0 24l6 6v6H0V24zM12 24l6 6v6H12V24zM24 24l6 6v6H24V24zM36 24l6 6v6H36V24zM48 24l6 6v6H48V24zM0 36l6 6v6H0V36zM12 36l6 6v6H12V36zM24 36l6 6v6H24V36zM36 36l6 6v6H36V36zM48 36l6 6v6H48V36zM0 48l6 6v6H0V48zM12 48l6 6v6H12V48zM24 48l6 6v6H24V48zM36 48l6 6v6H36V48zM48 48l6 6v6H48V48z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.color5 {
  background-color: $color5;
  background: #efad4e
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3Ccircle cx='9' cy='3' r='1'/%3E%3Ccircle cx='15' cy='3' r='1'/%3E%3Ccircle cx='21' cy='3' r='1'/%3E%3Ccircle cx='27' cy='3' r='1'/%3E%3Ccircle cx='33' cy='3' r='1'/%3E%3Ccircle cx='39' cy='3' r='1'/%3E%3Ccircle cx='45' cy='3' r='1'/%3E%3Ccircle cx='51' cy='3' r='1'/%3E%3Ccircle cx='57' cy='3' r='1'/%3E%3Ccircle cx='3' cy='9' r='1'/%3E%3Ccircle cx='9' cy='9' r='1'/%3E%3Ccircle cx='15' cy='9' r='1'/%3E%3Ccircle cx='21' cy='9' r='1'/%3E%3Ccircle cx='27' cy='9' r='1'/%3E%3Ccircle cx='33' cy='9' r='1'/%3E%3Ccircle cx='39' cy='9' r='1'/%3E%3Ccircle cx='45' cy='9' r='1'/%3E%3Ccircle cx='51' cy='9' r='1'/%3E%3Ccircle cx='57' cy='9' r='1'/%3E%3Ccircle cx='3' cy='15' r='1'/%3E%3Ccircle cx='9' cy='15' r='1'/%3E%3Ccircle cx='15' cy='15' r='1'/%3E%3Ccircle cx='21' cy='15' r='1'/%3E%3Ccircle cx='27' cy='15' r='1'/%3E%3Ccircle cx='33' cy='15' r='1'/%3E%3Ccircle cx='39' cy='15' r='1'/%3E%3Ccircle cx='45' cy='15' r='1'/%3E%3Ccircle cx='51' cy='15' r='1'/%3E%3Ccircle cx='57' cy='15' r='1'/%3E%3Ccircle cx='3' cy='21' r='1'/%3E%3Ccircle cx='9' cy='21' r='1'/%3E%3Ccircle cx='15' cy='21' r='1'/%3E%3Ccircle cx='21' cy='21' r='1'/%3E%3Ccircle cx='27' cy='21' r='1'/%3E%3Ccircle cx='33' cy='21' r='1'/%3E%3Ccircle cx='39' cy='21' r='1'/%3E%3Ccircle cx='45' cy='21' r='1'/%3E%3Ccircle cx='51' cy='21' r='1'/%3E%3Ccircle cx='57' cy='21' r='1'/%3E%3Ccircle cx='3' cy='27' r='1'/%3E%3Ccircle cx='9' cy='27' r='1'/%3E%3Ccircle cx='15' cy='27' r='1'/%3E%3Ccircle cx='21' cy='27' r='1'/%3E%3Ccircle cx='27' cy='27' r='1'/%3E%3Ccircle cx='33' cy='27' r='1'/%3E%3Ccircle cx='39' cy='27' r='1'/%3E%3Ccircle cx='45' cy='27' r='1'/%3E%3Ccircle cx='51' cy='27' r='1'/%3E%3Ccircle cx='57' cy='27' r='1'/%3E%3Ccircle cx='3' cy='33' r='1'/%3E%3Ccircle cx='9' cy='33' r='1'/%3E%3Ccircle cx='15' cy='33' r='1'/%3E%3Ccircle cx='21' cy='33' r='1'/%3E%3Ccircle cx='27' cy='33' r='1'/%3E%3Ccircle cx='33' cy='33' r='1'/%3E%3Ccircle cx='39' cy='33' r='1'/%3E%3Ccircle cx='45' cy='33' r='1'/%3E%3Ccircle cx='51' cy='33' r='1'/%3E%3Ccircle cx='57' cy='33' r='1'/%3E%3Ccircle cx='3' cy='39' r='1'/%3E%3Ccircle cx='9' cy='39' r='1'/%3E%3Ccircle cx='15' cy='39' r='1'/%3E%3Ccircle cx='21' cy='39' r='1'/%3E%3Ccircle cx='27' cy='39' r='1'/%3E%3Ccircle cx='33' cy='39' r='1'/%3E%3Ccircle cx='39' cy='39' r='1'/%3E%3Ccircle cx='45' cy='39' r='1'/%3E%3Ccircle cx='51' cy='39' r='1'/%3E%3Ccircle cx='57' cy='39' r='1'/%3E%3Ccircle cx='3' cy='45' r='1'/%3E%3Ccircle cx='9' cy='45' r='1'/%3E%3Ccircle cx='15' cy='45' r='1'/%3E%3Ccircle cx='21' cy='45' r='1'/%3E%3Ccircle cx='27' cy='45' r='1'/%3E%3Ccircle cx='33' cy='45' r='1'/%3E%3Ccircle cx='39' cy='45' r='1'/%3E%3Ccircle cx='45' cy='45' r='1'/%3E%3Ccircle cx='51' cy='45' r='1'/%3E%3Ccircle cx='57' cy='45' r='1'/%3E%3Ccircle cx='3' cy='51' r='1'/%3E%3Ccircle cx='9' cy='51' r='1'/%3E%3Ccircle cx='15' cy='51' r='1'/%3E%3Ccircle cx='21' cy='51' r='1'/%3E%3Ccircle cx='27' cy='51' r='1'/%3E%3Ccircle cx='33' cy='51' r='1'/%3E%3Ccircle cx='39' cy='51' r='1'/%3E%3Ccircle cx='45' cy='51' r='1'/%3E%3Ccircle cx='51' cy='51' r='1'/%3E%3Ccircle cx='57' cy='51' r='1'/%3E%3Ccircle cx='3' cy='57' r='1'/%3E%3Ccircle cx='9' cy='57' r='1'/%3E%3Ccircle cx='15' cy='57' r='1'/%3E%3Ccircle cx='21' cy='57' r='1'/%3E%3Ccircle cx='27' cy='57' r='1'/%3E%3Ccircle cx='33' cy='57' r='1'/%3E%3Ccircle cx='39' cy='57' r='1'/%3E%3Ccircle cx='45' cy='57' r='1'/%3E%3Ccircle cx='51' cy='57' r='1'/%3E%3Ccircle cx='57' cy='57' r='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.color6 {
  background-color: $color3;
}

/* FEATURED SECTION */

.featured-section {
  p {
    font-size: 3em;
    padding-top: 0;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    color: white;
    &.small {
      font-size: 1.5em;
      margin-top: 5px;
    }
    &.large {
      margin-bottom: 0;
    }
  }
}
.album-featured {
  margin-top: 35px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  a {
    height: fit-content;
    &:hover {
      z-index: 999999;
    }
  }

  .album {
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 8px 8px 0px #000;
    img {
      width: 100%;
      border-radius: 10px;

      display: block;
    }
  }
}

.streaming-logos {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  .streaming-logo {
    width: 40px;
    height: auto;
    cursor: pointer;

    color: #4ea0e7;
    border: none;
    padding: 0.45rem 0.45rem;
    transition: filter 0.3s;
    filter: invert(100%);

    &:hover {
      filter: invert(0%);
    }
    &.bottom {
      filter: invert(0%);
      &:hover {
        filter: invert(100%);
      }
    }
  }
}

/* MUSIC SECTION */
.album-grid {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  a {
    height: fit-content;
    &:hover {
      z-index: 999999;
    }
  }

  .album {
    background-color: #000;
    text-align: center;
    border-radius: 8px;

    cursor: pointer;
    box-shadow: 8px 8px 0px #000;
    img {
      width: 100%;
      display: block;
      border-radius: 8px;
    }
  }
}

/* LIVE SECTION */
.shows-flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  margin: 0 auto;

  .show-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    padding: 1rem;
    background: #1d1b28;
  }

  .show-info {
    text-align: left;
    margin-right: 5px;

    .show-name {
      font-family: "Archivo Black", serif;
      font-size: 1.2rem;
      color: white;
    }

    .show-date {
      font-family: "Archivo Black", serif;
      font-size: 0.9rem;
      color: white;
      margin-top: 0.25rem;
    }
  }

  .ticket-button {
    min-width: 143px;
    font-family: "Archivo Black", serif;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 0px #fff; /* Skeuomorphic shadow */
    &:hover {
      background-color: $color1;
      box-shadow: 4px 4px 0px $color1;
    }
    &:disabled {
      pointer-events: none;
      background-color: #999;
    }
  }
}

/* MERCH SECTION */
.merch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  text-align: center;
  max-width: 930px;
  margin: 2rem auto;

  .merch-item {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    // border: 4px solid black;
    padding: 0 0;
    border-radius: 10px;
    // box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);
    position: relative; /* For price tag positioning */
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    img {
      max-width: 100%;
      width: 100%;
      aspect-ratio: 1/1;
      display: block;
      // margin-bottom: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);
    }

    p {
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: auto;
      background-color: white;
      border-top: 1px solid #eee;
      padding: 6px 0 9px 0;
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    /* Price tag */
    .price-tag {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $color1;
      color: white;
      font-weight: bold;
      font-family: "Archivo Black", serif;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
    &:nth-child(1) .price-tag {
      transform: rotate(-5deg);
    }

    &:nth-child(2) .price-tag {
      transform: rotate(3deg);
    }

    &:nth-child(3) .price-tag {
      transform: rotate(-2deg);
    }

    &:nth-child(4) .price-tag {
      transform: rotate(4deg);
    }
  }
}
/* Update this to limit to 3 items per row */
.merch-grid {
  grid-template-columns: repeat(3, 1fr);
}

/* Add media query for smaller screens */
@media (max-width: 992px) {
  .merch-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .merch-grid {
    grid-template-columns: 1fr;
  }
}
/* Add some "noise" to the merch section background */
.color3 {
  background-color: $color3;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

/* ABOUT SECTION */
.about-text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  color: #fff;
  p {
    margin-bottom: 1rem;
  }
}

/* CONTACT SECTION */
.contact-info {
  max-width: 500px;
  margin: 0 auto;

  a {
    color: #000;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.main-weather {
  position: absolute;
  top: 10px;
  left: 50px;
  transform: scale(1.25);
  z-index: 99999;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .social-icons {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
  }
  .section-header {
    h1 {
      font-size: 4em;
      width: 100%;
    }
    height: 65vh;
  }

  .band-logo-lg {
    width: 250px;
  }

  header .header-content {
    flex-direction: column;
    gap: 1rem;
    nav {
      ul {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  .shows-flex-container {
    width: 100%;
  }
  .show-name {
    max-width: 190px;
  }
  nav {
    margin-left: auto;
    margin-right: 0;
    ul {
      display: none;
    }
    &.mobile-nav {
      .hamburger-menu {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        .bar {
          width: 25px;
          height: 3px;
          background-color: #fff;
          margin: 5px 0;
          transition: 0.4s;
        }
      }
      ul {
        &.open {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.95);
          z-index: 999;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          li {
            margin-bottom: 2rem;
            a {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .hamburger-menu {
    display: none;
  }
}

nav {
  margin-left: auto;
}
.paren {
  color: white;
  font-family: "Archivo Black", serif;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1.3rem;
}
.ticker {
  margin-left: 10px;
  margin-top: 6px;
  max-width: 300px;
  overflow: hidden;
  line-height: 20px;
  color: white;
  font-family: "Archivo Black", serif;
  max-height: 20px;
}
.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.marquee-wrapper {
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
