<header>
  <div class="header-content">
    <div
      *ngIf="!firstLoad"
      class="d-flex fade-in"
      [class.fade-out]="!showHeader"
    >
      <!-- Band logo (placeholder PNG) -->
      <img
        src="assets/images/chef-logo.svg"
        alt="Chef Band Logo"
        class="band-logo"
        (click)="scrollToSection('main-header')"
      />
      <div class="marquee-wrapper hide-mobile">
        <div class="paren">(</div>
        <div class="ticker">
          <app-marquee>
            <span *ngFor="let name of chefNames"> {{ name }} •</span>
          </app-marquee>
        </div>
        <div class="paren">)</div>
      </div>
    </div>

    <!-- Menu -->

    <nav [class.mobile-nav]="isMobile">
      <button
        class="hamburger-menu"
        (click)="toggleMobileMenu()"
        *ngIf="isMobile"
      >
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>
      <ul *ngIf="isMobileMenuOpen || !isMobile" [class.open]="isMobileMenuOpen">
        <li><a (click)="scrollToSection('music')">Music</a></li>
        <li><a (click)="scrollToSection('live')">Live</a></li>
        <li><a (click)="scrollToSection('merch')">Merch</a></li>
        <li><a (click)="scrollToSection('about')">About</a></li>
        <li>
          <a (click)="scrollToSection('contact')">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- SOCIAL MEDIA ICONS -->
<div class="social-icons">
  <a href="https://www.instagram.com/placeholder" target="_blank">
    <img
      src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/instagram.svg"
      alt="Instagram"
    />
  </a>
  <a href="https://www.youtube.com/placeholder" target="_blank">
    <img
      src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/youtube.svg"
      alt="YouTube"
    />
  </a>
  <a href="https://www.tiktok.com/placeholder" target="_blank">
    <img
      src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/tiktok.svg"
      alt="TikTok"
    />
  </a>
  <a href="mailto:placeholder@example.com">
    <img
      src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gmail.svg"
      alt="Email"
    />
  </a>
</div>

<!-- MUSIC SECTION -->
<section>
  <div id="main-header" class="section-header music-header">
    <div [class.fade-out]="showHeader" class="d-flex-col">
      <img
        src="assets/images/chef-logo.svg"
        alt="Chef Band Logo"
        class="band-logo-lg"
      />
      <div class="marquee-wrapper">
        <div class="paren">(</div>
        <div class="ticker">
          <app-marquee>
            <span *ngFor="let name of chefNames"> {{ name }} •</span>
          </app-marquee>
        </div>
        <div class="paren">)</div>
      </div>
    </div>
  </div>
  <div class="section-content color-block color1" id="music">
    <div class="album-grid">
      <a
        href="https://open.spotify.com/track/2yXUcLQFQM8PGVOW2B9sMo?si=4db3e84332f24e19"
      >
        <div
          class="album"
          ngTilt
          [scale]="1.05"
          [maxTilt]="10"
          glare="true"
          [maxGlare]="0.5"
        >
          <img src="assets/images/kilgore.png" alt="Album 1" />
        </div>
      </a>
      <a
        href="https://open.spotify.com/track/3nokHVueV9TLQrVEwzKsu3?si=4a70dd302e27407a"
      >
        <div
          class="album"
          ngTilt
          [scale]="1.05"
          [maxTilt]="10"
          glare="true"
          [maxGlare]="0.5"
        >
          <img src="assets/images/peach_funk.png" alt="Album 2" />
        </div>
      </a>
      <a
        href="https://open.spotify.com/track/3msEvJljAOEYFE9oiLu98Z?si=ba6a1e152fa64759"
      >
        <div
          class="album"
          ngTilt
          [maxTilt]="10"
          glare="true"
          [maxGlare]="0.5"
          [scale]="1.05"
        >
          <img src="assets/images/herbie_jam.png" alt="Album 3" />
        </div>
      </a>
      <a
        href="https://open.spotify.com/track/1PA6WpPOjmEtFqVIl3whqE?si=a7232f1d6c354efb"
      >
        <div
          class="album"
          ngTilt
          [scale]="1.05"
          [maxTilt]="10"
          glare="true"
          [maxGlare]="0.5"
        >
          <img src="assets/images/fast_johnson.png" alt="Album 4" />
        </div>
      </a>
    </div>
  </div>
</section>

<!-- LIVE SECTION -->
<section id="live">
  <div class="section-header live-header">
    <h1>Live</h1>
  </div>
  <div class="section-content color-block color2">
    <div class="shows-flex-container">
      <div class="show-item">
        <div class="show-info">
          <div class="show-name">C.H.E.F. LIVE &#64; SCHUBAS</div>
          <div class="show-date">1/25/25</div>
        </div>
        <a href="https://lh-st.com/shows/01-25-2025-chef/">
          <button class="ticket-button">Tickets</button>
        </a>
      </div>
      <div class="show-item">
        <div class="show-info">
          <div class="show-name">Placeholder Venue 2</div>
          <div class="show-date">2/10/25</div>
        </div>
        <button class="ticket-button">Tickets</button>
      </div>
      <div class="show-item">
        <div class="show-info">
          <div class="show-name">Placeholder Venue 3</div>
          <div class="show-date">3/7/25</div>
        </div>
        <button class="ticket-button">Tickets</button>
      </div>
    </div>
  </div>
</section>

<!-- MERCH SECTION -->
<section id="merch">
  <div class="section-header merch-header">
    <h1>Merch</h1>
  </div>
  <div class="section-content color-block color3">
    <div class="merch-grid">
      <!-- Replace these placeholders with merch images -->
      <div class="merch-item">
        <img src="assets/images/merch/apron.png" alt="Merch 1" />
        <p>Apron!</p>
        <span class="price-tag">$20</span>
      </div>
      <div class="merch-item">
        <img src="assets/images/merch/cubby.png" alt="Merch 2" />
        <p>Cubby Bear Tee!</p>
        <span class="price-tag">$25</span>
      </div>
      <div class="merch-item">
        <img src="assets/images/merch/sticker.png" alt="Merch 3" />
        <p>Stickers!</p>
        <span class="price-tag">$5</span>
      </div>
      <div class="merch-item">
        <img src="assets/images/merch/tote.png" alt="Merch 4" />
        <p>Tote!</p>
        <span class="price-tag">$15</span>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT SECTION -->
<section id="about">
  <div class="section-header about-header">
    <h1>About</h1>
  </div>
  <div class="section-content color-block color4">
    <div class="about-text" style="text-align: center">
      <p>
        Originated out of Chicago, Illinois in 2022, C.H.E.F. bakes in a strong
        variety of ingredients to its sound; including funk, psychedelia, blues,
        alternative, hip hop, jazz, classic rock, and electronic.
      </p>
      <br />
      <hr />
      <br />
      <p>Cuppla'. Homies. Exchanging. Frequencies.</p>
      <p>Chicago. Homegrown. Established. Funk.</p>
      <p>Causing. Healthy. Enjoyable. Feelings.</p>
      <p>Constructing. High. Energy. Fun.</p>
    </div>
  </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact">
  <div class="section-header contact-header">
    <h1>Contact</h1>
  </div>
  <div class="section-content color-block color5">
    <div class="contact-info">
      <p>
        <!-- Replace placeholders with real contact links -->
        Email:
        <a href="mailto:CHEFbandbooking@gmail.com"
          >CHEFbandbookingATgmail.com</a
        >
      </p>
      <p>
        Instagram:
        <a href="#">instagram.com/bandcalledchef</a>
      </p>
    </div>
  </div>
</section>
